$navRwdPoint:md; //顯示斷點
$navAmt: 4;
$navTransTime : .5s;

@import "./navIcon";

.header-nav{
    @include apply-under($navRwdPoint){
        .nav-list{
            position: absolute;
            overflow: hidden;
            flex-direction: column;
            pointer-events: none;
            >li{
                width: 100%;
                .nav-link{
                    display: block;
                }
            }
        }
    }
}

@include apply-under($navRwdPoint){
    .active{
        .nav-icon-wrap{
            .nav-icon{
                background-color: transparent;
                &::before{
                    transform: translateY(#{($navIconSize -
                        $navIconBarH) / 2}) rotate(45deg);
                }
                &::after{
                    transform: translateY(#{($navIconSize -
                    $navIconBarH) / 2 * (-1)}) rotate(-45deg);
                }
            }
        }
        .nav-list{
            opacity: 1;
            z-index: 1;
            pointer-events: all;
        }
    }
}

