$navIconSize:20px; //icon寬高
$navIconBarH: 2px; //bar的粗細
$navIconColor: #ffffff; //bar的顏色
$btnPadding:getGutter(1); //感應區外擴padding

.nav-icon-wrap{
    @include flexCenterCenter;
    padding: $btnPadding;
    display: none;
    cursor: pointer;
    .nav-icon{
        width: $navIconSize;
        height: $navIconSize;
        position: relative;
        background-clip: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >.bar{
            width: 100%;
            height: $navIconBarH;
            background-color: $navIconColor;
            transition: background-color $navTransTime, transform $navTransTime;
        }
    }
    @include apply-under($navRwdPoint){  
        display: inline-flex;
        .nav-icon{
            pointer-events: none;
        }
    }
}

.active .nav-icon-wrap{
    .nav-icon{
        background-color: transparent;
        >.bar{
            &:nth-child(1){
                transform: translateY(#{($navIconSize -
                    $navIconBarH) / 2}) rotate(45deg);
            }
            &:nth-child(2){
                background-color: transparent;
            }
            &:nth-child(3){
                transform: translateY(#{($navIconSize -
                    $navIconBarH) / 2 * (-1)}) rotate(-45deg);
            }
        }
    }
}