$tableRwdPoint: getBreakpoints(md);

.info-table{
    @include tableCollapse;
    @include apply-under($tableRwdPoint){
        display: block;
        thead, tbody, tr, th, td{
            display: block;
            width: 100%;
            text-align: center;
        }
        thead{
            opacity: 0;
            position: absolute;
            top:-9999px;
        }
    }
}